.background {
    background-image: url("background.jpg");
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

.project-header {
    padding: 6px;
}
.project-header > div {
    display: inline-block;
}
.project-icon {
    color: #000000;
}
.project-controls {
    color: #82b6e0;
}
.project-creator {
    background-color: #c8c8c8;
    padding: 4px 5px 4px 0;
}
.add-task {
    float: left;
    font-size: 22px;
    vertical-align: 20%;
    width: 50px;
    text-align: center;
    color: #499149;
}
.task-input {
    width: 100%;
}
.tasks {
    background-color: white;
    position: relative;
}
.checkbox-container {
    width: 51px !important;
    padding-left: 15px !important;
}
.fields {
    position: absolute;
    left: 40px;
    border: 1px solid rgba(255, 0, 0, 0.21);
    border-top-style: none;
    border-bottom-style: none;
    width: 8px;
    height: 100%;
}
.task-controls {
    width: 20px !important;
}